/* © 2022 gparap */


body {
    margin-top: 32px;
    color: black;
}

label, input {
    margin-top: 8px;
}

p {
    font-size: 24px;
    color: black;
    margin-top: 32px;
}

button {
    margin-top: 20px;
}

#categories {
    margin-top: 32px;
}
