/* © 2023 gparap */

body {
    color: black;
}

p {
    font-size: 36px;
    color: black;
}
button {
    padding: 1px;
}

/*dice rolling animation description*/
.dice-animation{
    animation-name: dice-animation-frames;
    animation-duration: 0.25s;
}
/*dice rolling animation frames*/
@keyframes dice-animation-frames {
    0%{
        transform: rotateX(0deg) rotateY(0deg)
    }
    100%{
        transform: rotateX(180deg) rotateY(180deg)
    }
}