/* https://mit-license.org | © 2023 gparap */
section {
    width: 100vw;
    height: 100vh;
}
img {
    width: 256px;
}
img:hover {
    opacity: 0.75;
}
#About > div {
    padding-top: 4rem;
}
#Portfolio > div {
    padding-top: 4rem;
}
#Contact > div {
    padding-top: 4rem;
}